
body{
    background-color: rgb(54, 54, 54);
    margin: 50px;

}

main{
    display: flex;
    justify-content: center;
    
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;

}


.img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 80px;

}

img{
    border-radius: 10px;
}