
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    
}

.nav-bar{
    display:flex;
    gap:50px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    padding: 10px;

}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding: 0;
}

.nav-item:hover{
    font-weight:bold;

}

.profile-img img{
    border: 5px solid #F8CBA6;
    border-radius: 50%;
    
 

}

.hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
    height: 80vh;
    background: linear-gradient(300deg, #100f0f, #323232, #342927);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
        
      }
      
      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

.brief{
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    
    
}

.contact-me{
    background-color: #20db35;
    width: 150px;
    height: 50px;
    border-style: outset;
    border: solid 3px #ffffff;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;

}

.contact-me:hover{
    background-color: rgb(232, 170, 77);
    font-weight: bold;

}

.contact-me > a{
    text-decoration: none;
    color: #ffffff;
    
}






.skill-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
    margin: 20px;

}

.skill-section a{
    text-decoration: none;
    font-size: 30px;
    font-family:'Quicksand', sans-serif ;
    font-weight: bold;
    color: black;
}

.skill-section a img{
    height: 30px;
    
}

p{
    color: rgb(160, 159, 159);
    font-family: 'Quicksand', sans-serif;
}


.footer-container{
    display: flex;
    justify-content: center;
    
    
}
.footer-class > a >img{
    height: 40px;
    margin: 10px;
}

.reserved-section{
    background-color: #000000;
         height:30px;
         text-align: center;
}